body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
}

#ourProduct {
    text-align: center;
    font-size: 72px;
    margin-top: 100px;
    margin-bottom: 75px;
}

#formularLogin {
    width: 350px;
    margin: 0 auto;
    text-align: center;
}

#formularLogin label {
    font-size: 16px;
    margin-bottom: 8px;
    margin-top: 20px;
}

#formularLogin button {
    font-size: 14px;
}

#formularLogin span {
    font-size: 14px;
}
